* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

header,
footer,
form {
    margin: 20px auto;
    width: 650px;
}

h1 {
    font-size: 1.5em;
    color: navy;
    text-align: center;
}

form {
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    gap: 1rem;
}

fieldset {
    display: grid;
    gap: .5rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label,
input,
button,
select,
textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
}

button {
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
}

/* Grid Layout Classes */
.form-item {
    display: grid;
    align-items: center;
    margin: 0.5rem 0;
}

.column1 {
    grid-template-columns: 3fr 1fr;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}